# Iowa house price prediction
### using Random Forest

In [1]:
# Code you have previously used to load data
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Path of the file to read
subdirectory = "data"
filename = "data.csv"

# Construct the full file path
file_path = os.path.join(subdirectory, filename)

In [3]:
home_data = pd.read_csv(file_path)
home_data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [6]:
#  >> 1. Split data in to features and target -------------------
y = home_data.price

features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view','condition','sqft_above','sqft_basement','yr_built','yr_renovated']
X = home_data[features]
#  <<  1. Split data in to features and target -------------------


#  >>  2. Split into validation and training data-----------------
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
#  <<  2. Split into validation and training data-----------------

#  >> 3. Specify Model ------------------------------------------
rf_model = RandomForestRegressor()
#  << 3. Specify Model ------------------------------------------

#  >> 4. Fit Model ----------------------------------------------
# Fit Model
rf_model.fit(train_X, train_y)
#  << 4. Fit Model ----------------------------------------------

#  >> 5. Predict ------------------------------------------------
rf_val_predictions = rf_model.predict(val_X)
#  >> 5. Predict ------------------------------------------------

#  >> 6. calculate mean absolute error --------------------------
val_mae = mean_absolute_error(rf_val_predictions, val_y)
#  << 6. calculate mean absolute error --------------------------

print("Validation MAE: {:,.0f}".format(val_mae))

Validation MAE: 180,396